<!doctype html>
<html>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <head>
    {% block head %}
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3pro.css">
    <title>{% block title %}{% endblock %} - My Webpage</title>
    {% endblock %}
  </head>
  <body>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
      {% block footer %}
      &copy; Copyright 2020 by <a href="https://rdigitalsg.com">zuck</a>.
      {% endblock %}
    </div>
  </body>
</html>